/* hide default cursor */
body {
  cursor: none;
}

/* small dot */
.cursor-small {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #0c2c55; /* dark green */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Hide custom cursor on mobile devices */
@media (max-width: 900cpx) {
  .cursor-big,
  .cursor-small {
    display: none !important;
  }
}
.cursor-big {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: rgba(8, 23, 88, 0.3); /* light green */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9998;
}