.faq-section {
  position: relative;
  padding: 80px 60px;
  background: #f8f8f8;
  overflow: hidden;
}

.faq-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* LEFT */
.faq-left {
  width: 50%;
}

.subtitle {
  color: #0f6d5c;
  margin-bottom: 10px;
  font-weight: 600;
}

.faq-left h2 {
  font-size: 48px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.faq-left span {
  color: #f4b400;
}

/* FAQ BOX */
.faq-box {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.faq-box h4 {
  font-size: 18px;
}

/* ACTIVE */
.faq-box.active {
  background: #0f6d5c;
  color: #fff;
}

.faq-box.active p {
  margin-top: 10px;
  color: #fff;
}

/* RIGHT SIDE */
.faq-right {
  width: 50%;
  position: relative;
}

/* GREEN BACKGROUND SHAPE */
.faq-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #0f6d5c;
  border-radius: 30px;
  z-index: 0;
}

/* IMAGE BOX */
.image-box {
  position: relative;
  z-index: 2;
  padding: 40px;
}

.image-box img {
  width: 100%;
  border-radius: 20px;
}

/* SMALL IMAGE */
.small-img {
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 160px;
  border-radius: 20px;
  border: 6px solid #fff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .faq-container {
    flex-direction: column;
  }

  .faq-left,
  .faq-right {
    width: 100%;
  }

  .faq-right::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .faq-container {
    flex-direction: column;
  }

  .faq-left,
  .faq-right {
    width: 100%;
  }
}